<div class="container mt-5">
  <h1>購入明細一覧</h1>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">注文番号</th>
        <th scope="col">注文日時</th>
        <th scope="col">名前</th>
        <th scope="col">合計金額</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.created_at %></td>
          <td><%= order.first_name %> <%= order.last_name %></td>
          <td><%= number_to_currency(order.total_price) %></td>
          <td><%= link_to "詳細", order_path(order), class: 'btn btn-info' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
