<div class="container mb-5">
  <main>
    <div class="py-5 text-center">
      <h2>チェックアウト</h2>
    </div>
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">カート</span>
          <span class="badge bg-primary rounded-pill"><%= @current_cart.sum_quantity %></span>
        </h4>
        <ul class="list-group mb-3">
          <% if @cart_products.present? %>
          <% @cart_products.each do |item| %>
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div class="d-flex">
                <figure><%= image_tag item.product.img, class: "card-img-top" if item.product.img.attached? %></figure>
                <div>
                  <h6 class="my-0">
                    <%= link_to item.product.name, product_path(item.product.id)%>
                  </h6>
                  <span class="text-body-secondary">数量: <%= item.quantity %></span>
                </div>
              </div>
              <div>
                <span class="text-body-secondary ">¥<%= number_to_currency(item.product.price * item.quantity, unit: "¥", format: "%n", delimiter: ",", precision: 0) %></span>
                <%= link_to cart_product_path(item), data: { "turbo-method": :delete }, class:'btn btn-outline-danger trashBtn' do%>
                  <i class="bi bi-trash3"></i>
                <% end %>
              </div>
            </li>
          <% end %>
          <% if @promotion_code.present? %>
          <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
            <div class="text-success">
              <h6 class="my-0">割引額</h6>
            </div>
            <span class="text-success">-<%= number_to_currency(@promotion_code.discount, unit: "¥", format: "%n", delimiter: ",", precision: 0) %></span>
          </li>
          <% end %>
          <li class="list-group-item d-flex justify-content-between">
            <span>合計</span>
            <strong><span>JPY</span>¥<%= number_to_currency(@total_price, unit: "¥", format: "%n", delimiter: ",", precision: 0) %></strong>
          </li>
          <% else %>
            商品はありません
          <% end %>
        </ul>
        <%= form_with url: promotion_codes_path, class: "card p-2" do |f|%>
          <div class="input-group">
            <%= f.text_field :code, class: "form-control", placeholder: "プロモーションコード" %>
                <%= f.button "適用する", type: "submit", class: "btn btn-secondary" %>
          </div>
            <% end %>
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">お客様情報</h4>
        <%= form_with model: @order, local: true, class: "needs-validation", html: {novalidate: true} do |f| %>
          <div class="row g-3">
            <div class="col-sm-6">
              <%= f.label :first_name, class: "form-label" %>
              <%= f.text_field :first_name, class: "form-control", placeholder: "山田", required: true %>
              <% if @order.errors.include?(:first_name) %>
                <small class="text-danger"><%= @order.errors.full_messages_for(:first_name).first %></small>
              <% end %>
            </div>
            <div class="col-sm-6">
              <%= f.label :last_name, class: "form-label" %>
              <%= f.text_field :last_name, class: "form-control", placeholder: "太郎", required: true %>
              <% if @order.errors.include?(:last_name) %>
                <small class="text-danger"><%= @order.errors.full_messages_for(:last_name).first %></small>
              <% end %>
            </div>
            <div class="col-12">
              <%= f.label :user_name, class: "form-label" %>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <%= f.text_field :user_name, class: "form-control", placeholder: "taro", required: true %>
              </div>
              <% if @order.errors.include?(:user_name) %>
                <small class="text-danger"><%= @order.errors.full_messages_for(:user_name).first %></small>
              <% end %>
            </div>
            <div class="col-12">
              <%= f.label :email, class: "form-label" %>
              <%= f.email_field :email, class: "form-control", placeholder: "sample@example.com", required: true %>
              <% if @order.errors.include?(:email) %>
                <small class="text-danger"><%= @order.errors.full_messages_for(:email).first %></small>
              <% end %>
            </div>
            <div class="col-3">
              <%= f.label :zip, class: "form-label" %>
              <%= f.text_field :zip, class: "form-control", placeholder: "000-0000", required: true %>
              <% if @order.errors.include?(:zip) %>
                <small class="text-danger"><%= @order.errors.full_messages_for(:zip).first %></small>
              <% end %>
            </div>
            <div class="col-12">
              <%= f.label :address1, class: "form-label" %>
              <%= f.text_field :address1, class: "form-control", placeholder: "", required: true %>
              <% if @order.errors.include?(:address1) %>
                <small class="text-danger"><%= @order.errors.full_messages_for(:address1).first %></small>
              <% end %>
            </div>
            <div class="col-12">
              <%= f.label :address2, class: "form-label" %>
              <%= f.text_field :address2, class: "form-control", placeholder: "", required: true %>
              <% if @order.errors.include?(:address2) %>
                <small class="text-danger"><%= @order.errors.full_messages_for(:address2).first %></small>
              <% end %>
            </div>
            <div class="col-12">
              <%= f.label :address3, class: "form-label" %>
              <%= f.text_field :address3, class: "form-control", placeholder: "", required: true %>
              <% if @order.errors.include?(:address3) %>
                <small class="text-danger"><%= @order.errors.full_messages_for(:address3).first %></small>
              <% end %>
            </div>
          </div>
          <hr class="my-4">
          <h4 class="mb-3">お客様のクレジットカード</h4>
          <div class="row gy-3">
            <div class="col-md-6">
              <%= f.label :name_on_card, class: "form-label" %>
              <%= f.text_field :name_on_card, class: "form-control", placeholder: "TARO YAMADA", required: true %>
              <% if @order.errors.include?(:name_on_card) %>
                <small class="text-danger"><%= @order.errors.full_messages_for(:name_on_card).first %></small>
              <% end %>
            </div>
            <div class="col-md-6">
              <%= f.label :card_number, class: "form-label" %>
              <%= f.text_field :card_number, class: "form-control", placeholder: "1234567890123456", required: true %>
              <% if @order.errors.include?(:card_number) %>
                <small class="text-danger"><%= @order.errors.full_messages_for(:card_number).first %></small>
              <% end %>
            </div>
            <div class="col-md-3">
              <%= f.label :expiration, class: "form-label" %>
              <%= f.text_field :expiration, class: "form-control", placeholder: "MM/YY", required: true %>
              <% if @order.errors.include?(:expiration) %>
                <small class="text-danger"><%= @order.errors.full_messages_for(:expiration).first %></small>
              <% end %>
            </div>
            <div class="col-md-3">
              <%= f.label :cvv, class: "form-label" %>
              <%= f.text_field :cvv, class: "form-control", placeholder: "123", required: true %>
              <% if @order.errors.include?(:cvv) %>
                <small class="text-danger"><%= @order.errors.full_messages_for(:cvv).first %></small>
              <% end %>
            </div>
          </div>
          <hr class="my-4">
          <%= f.submit "購入する", class: "w-100 btn btn-primary btn-lg" %>
        <% end %>
      </div>
    </div>
  </main>
</div>
