<div class="container mt-5 admin-product-index">
  <h1>商品管理</h1>
  <div class="row mt-4 mb-3">
    <div class="col-md-12">
      <%= link_to "新規商品作成", new_admin_product_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">商品名</th>
        <th scope="col">価格</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= product.name %></td>
          <td>¥<%= number_to_currency(product.price, unit: "¥", format: "%n", delimiter: ",", precision: 0) %></td>
          <td>
            <%= link_to "編集", edit_admin_product_path(product), class: 'btn btn-info' %>
          </td>
          <td>
            <%= link_to "削除", "/admin/products/#{product.id}", data: {turbo_method: :delete, turbo_confirm: "#{product.name}を削除します。よろしいですか？"}, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
