<div class="col mb-5">
  <div class="card h-100 card-list">
    <!-- Product image-->
    <%= link_to product_path(product) do %>
      <%= image_tag product.img, class: "card-img-top" if product.img.attached? %>
    <% end %>
    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">
        <!-- Product name-->
        <%= link_to product_path(product) do %>
          <h5 class="fw-bolder"><%= product.name %></h5>
        <% end %>
        <!-- Product price-->
        ¥<%= number_to_currency(product.price, unit: "¥", format: "%n", delimiter: ",", precision: 0) %>
      </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">カートに入れる</a></div>
    </div>
  </div>
</div>
