        <!-- Product section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <%= image_tag @product.img, class: "card-img-top mb-5 mb-md-0" if @product.img.attached? %>
      </div>
      <div class="col-md-6">
        <%# <div class="small mb-1">SKU: BST-498</div> %>
        <h1 class="display-5 fw-bolder"><%= @product.name %></h1>
        <div class="fs-5 mb-5">
          <%# <span class="text-decoration-line-through">$45.00</span> %>
          ¥<span><%= number_to_currency(@product.price, unit: "¥", format: "%n", delimiter: ",", precision: 0) %></span>
        </div>
        <p class="lead"><%= @product.description %></p>
        <%= form_with url: cart_products_path(product_id: @product.id), class: "d-flex"  do |f| %>
          <%= f.number_field :quantity, class: 'form-control text-center me-3', style: 'max-width: 4rem', min: 1, value: 1 %>
          <%= button_tag type: 'submit', class: "btn btn-outline-dark flex-shrink-0" do %>
            <i class="bi-cart-fill me-1"></i>
            Add to cart
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">最新の商品</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <%= render partial: "product", collection: @latest_product %>
    </div>
  </div>
</section>
